div#slideShowItems{
height:454px;
overflow:hidden;
position:absolute;
margin:0 auto;
width:1000px;
}
	
div#slideShowItems div{
width:1000px;
}
	
div#slideShowItems img {
float:left;
}
	
ul#slideShowCount{
margin:0px;
padding:0px;
width:1000px;
}
	
ul#slideShowCount li.slide{
line-height:30px;
float:right;
cursor:pointer;
padding-right:1px;
width:30px;
height:30px;
display:block;
background: transparent url(../images/tabs.jpg) no-repeat scroll left top;
}
	
ul#slideShowCount li.slide span{
padding-left:10px;
color:#ffffff;
font-weight:normal;
font-size:12px;
}
	
ul#slideShowCount li.slide:hover{
background-position:left -30px;
}
	
ul#slideShowCount li.slide.selectedTab{
background-position:left -30px;
}
	
div#slideShow{
background:#ffffff;
width:1000px;
height:454px;
}