@charset "utf-8";
/*---CSS Document---*/

/*---Import Reset---*/
@import url("reset.css");
/*---Import Reset End---*/


/*---CSS 3 @ Fontface---*/
@font-face {
}
/*---CSS 3 @ Fontface End---*/


/*---Webpage Basic Structure---*/
html {
  height:100%;
  background:url("");
}

html, body {
  height:100%;
  border:0px;
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
  color:#000000;
  font-size:13px;
  line-height:24px;
  font-weight:normal;
  text-align:justify;
  hyphens:none;  
  font-smooth:always;
  -webkit-font-smoothing:antialiased;
  /*text-shadow:0 1px 1px rgba(0,0,0,.8);*/
}

.wrapper{
  width:100%;
  min-height:100%;
  height:auto; 
  position:relative;
  top:0px;
  bottom:0px;
}

.header {
  width:100%;
  height:100px;
  background:#ffffff;
}

.content {
  height:auto; !important
  min-height: 100%;
  height:100%;
  padding-bottom:30px;
}

.content_wrapper{
  width:1000px; 
  margin:0 auto;
  min-height:100%;
}

.three_column{
  width:320px;
  min-height:350px; 
  height:auto; 
  float:left; 
  border-right:1px dashed #888888;
}

.product_image{
  width:180px;
  height:150px;
  border:1px solid #d5342d;
  background:#ffffff;
}

/*---Simple SlideShow---*/
ul.ppt {
	position: relative;
	width:900px;
	text-align:left;
}

.ppt li {
	list-style-type: none;
	position: absolute;
}

.ppt img {
	border: none;
	padding:0;
    background: #fff2c8;
}

/*---Simple SlideShow End---*/


.footer{
  width:100%;
  height:30px;
  background:#888888;
  position:absolute;
  bottom:0;
  left:0;
}
/*---Webpage Basic Structure End---*/


/*---Font Formating---*/
p{
  margin:0;
  padding:0;
  text-align:justify;
}

h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size:25px;
  font-weight:normal;
  line-height:35px;
  color:#d5342d;
  padding:0;
  margin:0;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  font-weight:bold;
  line-height:25px;
  font-style:italic;
  color:#000000;
  padding:0;
  margin:0;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
  line-height:24px;
  color:#000000;
  padding:0;
  margin:0;
}

h4{
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:normal;
  line-height:30px;
  color:#000000;
  padding:0;
  margin:0;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  font-weight:bold;
  line-height:40px;
  color:#000000;
  padding:0;
  margin:0;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
  font-weight:bold;
  line-height:35px;
  color:#000000;
  padding:0;
  margin:0;
}
/*---Font Formating End---*/


/*---Main Menu---*/
#maincurrent{
  width:120px;
  height:45px;
  display:block;
  font-size:12px;
  color:#ffffff;
  text-decoration:none;
  background:url("../images/menu_bg.jpg") right top no-repeat;
}

.mainmenu{
  width:750px;
  height:45px;
  border:none;
  margin:0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
}

.mainmenu ul{
  margin:0;
  padding:0;
  list-style:none;
}

.mainmenu ul li{
  width:125px;
  height:45px;
  float:right;
  text-align:center;
}
		
.mainmenu ul li a{
  width:125px;
  height:45px;
  background:none;
  padding:0;
  margin:auto;
  font-size:12px;
  font-weight:bold;
  color:#d5342d;
  line-height:35px;
  text-decoration:none;
  display:block;
}
	
.mainmenu ul li:hover a{
  text-decoration:none;
  width:125px;
  color:#ffffff;
  height:45px;
  display:block;
  font-size:12px;
  background:url("../images/menu_bg.jpg") right top no-repeat;
}
		
.mainmenu ul li ul{
  width:125px;
  height:45px;
  margin:0px;
  padding:0;
  border:0;
  display:none;
  background-color:#ffffff;
  position:absolute;
  z-index:200;
  /*top:1em;
  /*left:0;*/
}

.mainmenu ul li:hover ul{
  display:block;
}
			
.mainmenu ul li ul li {
  width:125px;
  height:45px;
  border:0;
  margin:0px;
  padding:0px;
  display:block;
  text-align:left;
  text-decoration:none;
  vertical-align:middle;
}
		
.mainmenu ul li:hover ul li a{
  background:none;
}
		
.mainmenu ul li ul a{
  width:125px;
  margin:0px;
  padding:0px;
  display:block;
  font-size:16px;
  font-style:normal;
  line-height:35px;
  color:#000000;
}
					
.mainmenu ul li ul a:hover,{
  border:0px;
  text-decoration:none;
}
					
.mainmenu ul li ul li:hover a{
  border:0px;
  width:125px;
  height:45px;
  text-decoration:none;
  color:#000000;
  background:#ffffff;
  text-shadow:none;
}

/*---Main Menu End---*/

/*---Product Menu---*/
.productmenu{
  width:960px;
  height:70px;
  border:none;
  margin:20px 0px 0px 0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
}

.productmenu ul{
  margin:0;
  padding:0;
  list-style:none;
}

.productmenu ul li{
  width:320px;
  height:75px;
  float:right;
  text-align:left;
}
		
.productmenu ul li a{
  width:150px;
  height:70px;
  background:none;
  padding:0;
  margin:auto;
  font-size:12px;
  font-weight:bold;
  color:#757575;
  line-height:22px;
  text-decoration:none;
  display:block;
}
	
.productmenu ul li:hover a{
  text-decoration:none;
  width:150px;
  color:#d5342d;
  height:70px;
  display:block;
  font-size:12px;
}
		
.productmenu ul li ul{
  width:170px;
  height:auto;
  margin:0px 0px 0px 85px;
  padding:0px 0px 15px 0px;
  display:none;
  background:#ffffff;
  position:absolute;
  position:relative!ie7;
  z-index:200;
  /*top:1em;
  /*left:0;*/
}

.productmenu ul li:hover ul{
  display:block;
}
			
.productmenu ul li ul li {
  width:150px;
  height:30px;
  border:0;
  margin:0px 10px 0px 10px;
  padding:0px;
  display:block;
  text-align:left;
  text-decoration:none;
  vertical-align:middle;
  border-bottom:2px solid #d5342d;
}
		
.productmenu ul li:hover ul li a{
  background:none;
  color:#757575;
}
		
.productmenu ul li ul a{
  width:130px;
  padding:0px 0px 0px 20px;
  margin:0px;
  display:block;
  font-size:16px;
  font-style:normal;
  line-height:35px;
}
					
.productmenu ul li ul a:hover,{
  border:0px;
  text-decoration:none;
}
					
.productmenu ul li ul li:hover a{
  border:0px;
  width:130px;
  height:30px;
  text-decoration:none;
  background:#ffffff;
  text-shadow:none;
  color:#d5342d;
}

/*---Product Menu End---*/

/*---Footer Menu---*/

.footer_menu{
  width:700px;
  height:0px;
  padding:0px;
  margin:0px;
  float:left;
  font-size:11px;
}
	
.footer_menu ul{
  margin: 0;
  padding: 0;
  list-style-type:none;
  position:relative;
  float:left;
}
	
.footer_menu ul li {
  width:auto;
  height:30px;
  padding:0px 20px 0px 20px;
  float:left;
  display:inline-block;
  font-size:11px;
  line-height:30px;
}
	
.footer_menu ul li a{
  color:#ffffff;
  text-decoration:none;
}
	
.footer_menu ul li a:hover{
  color:#000000;
  text-decoration:none;
}	
		
.footer_menu li ul{
  width:auto;
  height:0px;
  padding:0px;
  margin:0px;
  border:0px;
  display:none;
  position:absolute;
  z-index:200;
}
	
.footer_menu li:hover ul{
  display:block;
}
	
.footer_menu li li {
  margin:0px;
  padding:0px;
  color:#000000;
}
		
.footer_menu li:hover li a{
  background:none;
  margin:0px;
}	
	
.footer_menu li ul a{
  float:left;
  margin:0px;
}
		
.footer_menu li ul a:hover, .mainmenu li ul li:hover a{
  border:0px;
  color:#000000;
  text-decoration:none;
}
						
.copyright{
  width:300px;
  height:0px;
  padding:0px;
  margin:0px;
  float:right;
  font-size:11px;
  line-height:30px;
  color:#ffffff;
  text-align:right;
}						
	
/*---Footer Menu End---*/



.submit {
  margin: 0;
  padding: 0;
  border: 0;
  background: #d5342d;
  font-size:16px;
  font-weight:bold;
  color:#ffffff;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:150px;
  height:50px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.submit:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: #888888;
  font-size:16px;
  font-weight:bold;
  color:#ffffff;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:150px;
  height:50px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.more {
  margin: 0;
  padding: 0;
  border: 0;
  background: #d5342d;
  font-size:16px;
  font-weight:bold;
  color:#ffffff;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:100px;
  height:30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration:none;
  text-align:center;
  line-height:30px;
}

.more:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: #888888;
  font-size:16px;
  font-weight:bold;
  color:#ffffff;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:100px;
  height:30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration:none;
  text-align:center;
  line-height:30px;
}


